<head>
    {{!-- Custom JS for PRF --}}
    <script src="js/prfJS.js"></script>
</head>

<div class="form-page">

    {{!-- Header --}}
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        <a class="navbar-brand mr-1"><b>
                <font color="white">Create New PRF</font>
            </b></a>
    </nav>


    <div id="wrapper" class="bg-white">
        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item">
                <button class="btn btn-primary btn-block" type="button" href="/prf" onclick="window.location='/prf'">
                    New PRF &nbsp;
                    <i class="fa fa-file" aria-hidden="true"></i>
                </button>
            </li>
            <li class="nav-item">
                <button id="print" class="btn btn-primary btn-block" type="button">
                    Print &nbsp;
                    <i class="fa fa-print" aria-hidden="true"></i>
                </button>
            </li>
            <li class="nav-item">
                <button id="saveBtn" class="btn btn-success btn-block" type="button" onclick="save()">
                    Save &nbsp;
                    <i class="fa fa-save" aria-hidden="true"></i>
                </button>
            </li>
            <li class="nav-item"><br><br>
                <button id="dashboard" class="btn btn-home btn-block" type="button"
                    onclick="window.location='/dashboard'">Dashboard
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                </button>
            </li>
            <li class="nav-item">
                <br><br>
                <button class="btn btn-danger btn-block" id="clear" type="button">
                    Clear &nbsp;
                    <i class="fa fa-eraser" aria-hidden="true"></i>
                </button>
            </li>
            <li class="nav-item">
                <button id="dashboard" class="btn btn-danger btn-block" type="button"
                    onclick="window.location='/dashboard'">Delete &nbsp;
                    <i class="fas fa-fw fa-trash"></i>
                </button>
            </li>
            <li class="nav-item">
                <button id="edit" class="btn btn-success btn-block" type="button"
                    onclick="window.location='/dashboard'">Edit &nbsp;
                    <i class="fas fa-fw fa-edit"></i>
                </button>
            </li><br>
            <div id="currencyChange" class="form-group">
                <small for="exchangeRate">USD to PHP: </small>
                <input id="exchangeDisplay" type="text" class="form-control" disabled value="50.10">
            </div>
        </ul>
        
        <!--    PRF Form -->
        <div id="content-wrapper" class="form-wrapper">
            <div id="header"></div>
            <form class="form-horizontal" method="POST" id="prfForm">
                <div class="row">
                    <div class="col-md-4 mb-md-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="background-color:white;">PRF# </span>
                            </div>
                            {{!-- PRF Number Field--}}
                            <input type="text" class="form-control" id="prfNumber" name="prfNumber"
                                placeholder="Enter PRF#" maxlength="8" value={{prfNumber}}>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">
                                    <i class="fas fa-pen" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 offset-md-1">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="background-color:white;">PO# </span>
                            </div>
                            {{!-- PO Number Field--}}
                            <input type="text" class="form-control" id="poNumber" name="poNumber"
                                placeholder="Enter PO#" maxlength="8" value={{poNumber}}>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">
                                    <i class="fas fa-pen" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="POadd">
                        {{!-- Add PO Button --}}
                        <button id="addpo" class="btn btn-primary hidden-print btn-block" onclick="addPO()"
                            role="button">Add
                            PO &nbsp;
                            <i class="fa fa-archive" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="buyerField">To: </label>
                            {{!-- Buyer Field --}}
                            <input name="buyer" type="text" class="form-control" id="buyerField" placeholder="Recipient"
                                value={{buyer}}>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="purchaseDate">Date: </label>
                            {{!-- Date Field --}}
                            <input name="date" type="date" class="form-control" id="purchaseDate"
                                placeholder="Enter Date" value="{{date}}">
                            {{!-- 2013-01-08 date format dapat pero hekhek wala pa --}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{!-- Dynamic Entering of Names --}}
                        {{!-- This field is stored in a hidden input name="names" created on the prfJS.js file --}}
                        <div class="form-group">
                            <label for="nameField" style="margin-bottom:1em">Pax Name/s: </label>
                            <button id="addPax" style="margin-left:1em" class="btn btn-success btn-sm" type="button">
                                <span class="fa fa-plus"></span> &nbsp; Add
                            </button>
                            <table class="table table-unbordered table-hover table-sm" id="nameField">
                                <thead>
                                    <tr>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input id="name" type="text" class="form-control" size="80"
                                                placeholder="Enter Passenger's Name">
                                        </td>
                                        <td>
                                            <div class="text-danger invisible">
                                                <large>Empty Text</large>
                                            </div>
                                        </td>
<!--                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" value="">
                                            </div>
                                        </td>-->
                                        <td><button id="remove" class="btn btn-danger delete"
                                                disabled="true">Remove</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="routeField">Route: </label>
                            {{!-- Route Field --}}
                            <textarea class="form-control " rows="5" id="routeField" name="route"
                                placeholder="Specify Route" value={{route}}></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="partField">Particulars: </label>
                            {{!-- Particulars Field --}}
                            <textarea class="form-control" rows="5" id="partField" name="particulars"
                                placeholder="Specify Particulars" value={{particulars}}></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fareField">Airfare: </label>
                            {{!-- Airfare Field --}}
                            <input type="number" class="form-control" name="airFare" id="fareField"
                                placeholder="Specify Airfare" value={{airFare}}>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="taxField">Travel Tax: </label>
                            {{!-- Travel Tax Field --}}
                            <input type="number" class="form-control" name="taxField" id="taxField"
                                placeholder="Specify Travel Tax" value={{travelTax}}>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="docuField">Documentation: </label>
                            {{!-- Documentation Field --}}
                            <textarea class="form-control" rows="5" id="docuField" name="documentation"
                                placeholder="Enter Documentations" value={{documentations}}></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group form-inline">
                            <label for="dollarField">USD: &nbsp;</label>
                            {{!-- USD Field --}}
                            <input type="number" id="dollarField" name="dollar" onkeydown="return event.keyCode !== 69"
                                oninput="computeDollar()" class="form-control" placeholder="Enter Amount"
                                value={{usAmount}}>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-inline">
                            <label for="pesoField">PHP: &nbsp;</label>
                            {{!-- PHP Field --}}
                            <input type="number" id="pesoField" name="peso" onkeydown="return event.keyCode !== 69"
                                oninput="computePeso()" class="form-control" placeholder="Enter Amount"
                                value={{phpAmount}}>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group form-inline">
                            <label for="totalField">Total: &nbsp;</label>
                            {{!-- Total Field --}}
                            <input type="text" id="totalField" name="total" class="form-control" id="totalField"
                                placeholder="Total" value={{total}}>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="prepField">Prepared By:</label>
                            {{!-- Prepared by Field --}}
                            <input id="prepared" type="text" class="form-control" id="prepField" name="prepared"
                                placeholder="Enter Name" value={{preparedBy}}>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="apprField">Approved By: </label>
                            {{!-- Approbed by Field --}}
                            <input id="approved" type="text" class="form-control" id="apprField" name="approved"
                                placeholder="Enter Name" value={{approvedBy}}>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="recField">Received By:</label>
                            {{!-- Received by Field --}}
                            <input id="received" type="text" class="form-control" id="recField" name="received"
                                placeholder="Enter Name" value={{receivedBy}}>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.content-wrapper -->

    </div>
</div>
<!-- /#wrapper -->